<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="styleguide.css" />
        <link rel="stylesheet" href="home.css" />
    </head>
    <body>
        <%- include('gnb.ejs') %>
        <div class="home-login">
            <div class="home-herobanner">
                <div class="herobanner">
                    <div class="div-2">
                        <p class="brandslogan">Blending scents, sharing stories:<br />The art of finding your fragrance</p>
                        <form class="search-bar-frame" action="" method="get">
                            <svg class="search-icon" width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path id="search_icon" d="M14.3269 15.0396L17.8 18.3996M16.68 9.43961C16.68 13.7695 13.1699 17.2796 8.84 17.2796C4.51009 17.2796 1 13.7695 1 9.43961C1 5.1097 4.51009 1.59961 8.84 1.59961C13.1699 1.59961 16.68 5.1097 16.68 9.43961Z" stroke="#767676" stroke-width="2" stroke-linecap="round"/>
                            </svg>
                            <input class="search-bar" type="text" placeholder="검색">
                        </form>
                    </div>
                    <div class="issue-card-frame">
                        <div class="issue-card">
                            <div class="issue-image" style="background-color:#767676">
                                <div class="issue-card-titles">
                                    <p class="issue-card-title">새해, 새로운 향기</p>
                                    <p class="issue-card-subtitle">2025년 새로운 향으로 시작하세요.<br />세상에 단 하나뿐인 향으로 자신을 만드세요.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="issue-card-nav-frame">
                        <div class="current-page"><div class="current-page-text">01</div></div>
                        <div class="card-nav">
                            <div class="issue-card-cur-page"></div>
                            <div class="issue-card-page"></div>
                            <div class="issue-card-page"></div>
                        </div>
                        <div class="end-page"><div class="end-page-text">03</div></div>
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="pausebutton">
                                <rect width="16" height="16" rx="8" fill="black" fill-opacity="0.3"/>
                                <path id="pause_icon" d="M7 10V6M9.5 10V6" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                        </svg>
                    </div>
                    <div class="issue-card-controller-left">
                        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="chevron-left">
                                <rect width="50" height="50" rx="25" fill="white" fill-opacity="0.7"/>
                                <path id="Icon" d="M31 37L19 25L31 13" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                        </svg>
                    </div>
                    <div class="issue-card-controller-rignt">
                        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="chevron-left">
                                <rect width="50" height="50" rx="25" transform="matrix(-1 0 0 1 50 0)" fill="white" fill-opacity="0.7"/>
                                <path id="Icon" d="M19 37L31 25L19 13" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <%- include('brandnews.ejs') %>
            <%- include('best_post.ejs') %>
            <%- include('resent_post.ejs') %>
            <%- include('rising_product.ejs') %>
            <%- include('foot.ejs') %>
        </div>
    </body>
</html>
