<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/stylesheets/globals.css" />
        <link rel="stylesheet" href="/stylesheets/styleguide.css" />
        <link rel="stylesheet" href="/stylesheets/product-page.css" />
        <link rel="stylesheet" href="/stylesheets/home.css" />
    </head>
    <body>
        <div class="product-page">
            <%- include('../gnb/gnb.ejs') %>
            <div class="frame">
                <div class="product-image" style="background-image: url(https://i.pinimg.com/736x/22/63/d5/2263d546879e4115f8296432b78692ed.jpg);"></div>
                <div class="product-information">
                    <div class="name-and-brand">
                        <div class="div-wrapper"><p class="product-name">어나더 13 오 드 퍼퓸</p></div>
                        <div class="div-wrapper"><p class="product-brand">르 라보</p></div>
                    </div>
                    <div class="product-intro-frame">
                        <p class="product-intro">
                            2010년, 르 라보는 어나더 매거진으로부터 독점적인 향수 작업을 제안받았습니다. 이 프로젝트는 르 라보와
                            어나더 매거진의 편집장 Jefferson Hack 간의 창의적인 콜라보레이션을 시작한 Colette의 Sarah 덕분에
                            탄생했습니다. 이 콜라보레이션의 결과로 매혹적이고 독특한 ANOTHER 13이 완성되었습니다.
                        </p>
                    </div>
                    <div class="product-note-frame">
                        <div class="div-wrapper"><div class="note-title">노트 정보</div></div>
                        <div class="note-frame">
                            <div class="note-information-frame">
                                <div class="note-type">
                                    <div class="note-icon">
                                        <svg class="note-icon" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.224025 29.2886C-0.0492845 28.8464 -0.0741306 28.2942 0.158361 27.8292L13.6584 0.829179C13.9124 0.321004 14.4318 0 15 0C15.5682 0 16.0876 0.321004 16.3416 0.829179L29.8416 27.8292C30.0741 28.2942 30.0493 28.8464 29.776 29.2886C29.5027 29.7308 29.0199 30 28.5 30H1.5C0.980135 30 0.497335 29.7308 0.224025 29.2886ZM1.5 28.5H28.5L15 1.5L1.5 28.5Z" fill="#363636"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M21 12.5L9 12.5V11.25H21V12.5Z" fill="#363636"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M24.75 21H5.25V19.5H24.75V21Z" fill="#363636"/>
                                            <path d="M21 12.5L24.5 20H5.5L9 12.5L21 12.5Z" fill="#363636"/>
                                            <path d="M25.25 20.5L29 29H1L5 20.5L25.25 20.5Z" fill="#363636"/>
                                        </svg>
                                    </div>
                                    <div class="div-wrapper"><p class="note-type-title">탑 노트</p></div>
                                </div>
                                <div class="note-type">
                                    <div class="note-icon">
                                        <svg class="note-icon" width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.289455 29.4527C0.0161452 29.0104 -0.00870085 28.4582 0.22379 27.9932L13.7238 0.993241C13.9779 0.485067 14.4973 0.164062 15.0654 0.164062C15.6336 0.164062 16.153 0.485067 16.4071 0.993241L29.9071 27.9932C30.1396 28.4582 30.1147 29.0104 29.8414 29.4527C29.5681 29.8949 29.0853 30.1641 28.5654 30.1641H1.56543C1.04556 30.1641 0.562765 29.8949 0.289455 29.4527ZM1.56543 28.6641L3.5 29H27L28.5654 28.6641L15.0654 1.16406L1.56543 28.6641Z" fill="#363636"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.9991 12.7508H8.99906V11.2508H20.9991V12.7508Z" fill="#363636"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M24.9991 20.5008L4.49906 20.5008L5.24906 19.5008H24.7491L24.9991 20.5008Z" fill="#363636"/>
                                            <path d="M15.0654 1.16406L17.9991 5.50079L20.4991 11.5008L8.99906 11.5008L11.9991 6.00079L15.0654 1.16406Z" fill="#363636"/>
                                            <path d="M24.9991 20.5008L29 27.5L28.5654 28.6641L27 29H3.5L1.56543 28.6641L1 27.5L4.49906 20.5008L24.9991 20.5008Z" fill="#363636"/>
                                        </svg>
                                    </div>
                                    <div class="div-wrapper"><p class="note-type-title">미들 노트</p></div>
                                </div>
                                <div class="note-type">
                                    <div class="note-icon">
                                        <svg class="note-icon" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.224025 29.2886C-0.0492845 28.8464 -0.0741306 28.2942 0.158361 27.8292L13.6584 0.829179C13.9124 0.321004 14.4318 0 15 0C15.5682 0 16.0876 0.321004 16.3416 0.829179L29.8416 27.8292C30.0741 28.2942 30.0493 28.8464 29.776 29.2886C29.5027 29.7308 29.0199 30 28.5 30H1.5C0.980135 30 0.497335 29.7308 0.224025 29.2886ZM1.5 28.5H28.5L15 1.5L1.5 28.5Z" fill="#363636"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M21 12.75H9V11.25H21V12.75Z" fill="#363636"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M24.75 21H5.25V19.5H24.75V21Z" fill="#363636"/>
                                            <path d="M15 1.5L15.5 1L17.5 5.5L21 11.5H9L12.5 5.5L14.5 1L15 1.5Z" fill="#363636"/>
                                            <path d="M21 12L24.75 19.9004L5.25 20L9 12H21Z" fill="#363636"/>
                                        </svg>
                                    </div>
                                    <div class="div-wrapper"><p class="note-type-title">베이스 노트</p></div>
                                </div>
                            </div>
                            <div class="note-type-frame">
                                <div class="note-type">
                                    <div class="note-divier"></div>
                                    <div class="div-wrapper">
                                        <p class="note-kind">암브레트</p>
                                        <p class="note-kind">네스베리</p>
                                    </div>
                                </div>
                                <div class="note-type">
                                    <div class="note-divier"></div>
                                    <div class="div-wrapper">
                                        <p class="note-kind">바이올렛</p>
                                        <p class="note-kind">샌달우드</p>
                                        <p class="note-kind">목련</p>
                                    </div>
                                </div>
                                <div class="note-type">
                                    <div class="note-divier"></div>
                                    <div class="div-wrapper">
                                        <p class="note-kind">머스크</p>
                                        <p class="note-kind">시더우드</p>
                                        <p class="note-kind">베티버</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <%- include('../post/best_post.ejs') %>
            <%- include('../post/resent_post.ejs') %>
            <%- include('../magazine/brandnews.ejs') %>
            <%- include('../home/foot.ejs') %>
        </div>
    </body>
</html>
